/* Estilos generales */
body {
  background-color: #c085e8; 
}

.container {
  width: 300px;
  margin: 50px auto;
  background-color: #f8a6ea;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4B0082; 
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #20B2AA; 
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

form input ::placeholder {
  color: #4B0082; 
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #58e8e1; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:hover {
  background-color: #a1ead1; 
}


ul li button {
  border: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

ul li:hover button {
  opacity: 1; 
  border: none;
}

ul li button:hover {
  background-color: #FF1493; 
}
